
<ng-container *ngIf="!loading">
    <div class="card bg-dark text-light border-0 col-6 m-auto">
        <h5 class="card-header bg-primary">Producto: {{ product?.name }}</h5>
        <div class="card-body">
          <h5 [ngStyle]="{ 'color' : color }" class="card-title">Precio: {{ product?.price | currency}}</h5>
          <p *ngIf="product?.description"class="card-text">Descripción: {{ product?.description }}</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="loading">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="spinner-border text-secondary m-auto" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-container>

