<!--
    <h1>Contador</h1>

<p>{{ valorContador }}</p>

<app-hijo
 [recibeHijo] = "mensajePadre" 
 (mensajeDesdeHijo) = "recibirMensaje($event)"
 (incrementarDesdeHijo) = "incrementar()"
 (decrementarDesdeHijo) = "decrementar()">
</app-hijo>

<h5>El mensaje recibido desde la clase hijo fue: {{ mensajeRecibido }}</h5>
-->

<div>
    <h1>{{ nombre }}</h1>
    <button type="button" (click)="saludar()">Saludar</button>
    <button type="button" (click)="preguntar()">Preguntar por Hijo</button>
</div>
